.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.MainDiv{
  width: auto;
}

.jumbotron{
  text-align: center;
  margin: auto;
  width:100%;
  padding:0px 0px;
  background-color:#e9ecef;
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container {
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .jumbotron  {
    text-align: center;
    width:100%;
    padding:0px 0px;
    background-color:#e9ecef;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .jumbotron  {
    text-align: center;
    width:100%;
    padding:0px 0px;
    background-color:#e9ecef;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .jumbotron {
    text-align: center;
    width:100%;
    padding:0px 0px;
    background-color:#e9ecef;
  }
}
